Debug/
*.opensdf
*.suo
*.sdf
.~lock
.~lock*
Pandemic_Clean/Release/
Pandemic_Clean/sampling_data.csv
Pandemic_Clean/output_R.csv
Pandemic_Clean/output_general_stats.csv
Pandemic_Clean/infectedProb.csv
Pandemic_Clean/infected_watch.csv
Pandemic_Clean/infection_counts.csv
Pandemic_Clean/debug_asserts.txt
Release/
Pandemic_Clean/debug_contacts.csv
Pandemic_Clean/output_R_symptomatic.csv
*.psess
*.vsp
Pandemic_Clean/infected_dump.csv
Pandemic_Clean/output_time.csv
Pandemic_Clean/output_infectedStatistics.csv
Pandemic_Clean/output_infected_stats.csv
Pandemic_Clean/output_resource_log.csv
Pandemic_Clean/output_rn.csv
ipch/
